@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
}

/* Navbar Styles */
.navbar {
    margin: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Align items vertically */
}

.navbar ul li {
    margin-right: 15px;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar ul li.logout {
    margin-left: auto; /* Push logout to the far right */
}

.navtext{
    font-weight: bold;
    font-size: x-large;
}

.logout{
    font-size: small;
}


/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 10px;
    border-right: 1px solid #ddd;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: x-large;
    font-weight: 500;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: small;
}

.sidebar ul li a i {
    margin-right: 12px; /* Space between icon and text */
}

.sidebar ul li a.active {
    border-radius: 10px;
    padding: 8px 12px;
    background-color: rgb(241, 250, 212); 
    color: rgb(133, 163, 25); 
}

.sidebar ul li a:hover {
    background-color: rgb(241, 250, 212); /* Background on hover */
    border-radius: 4px;
}

/* Main Content Styles */
.dashboard {
    display: flex; /* Adjust if navbar height changes */
}

.main-content {
    flex: 1;
    background-color: #eeeeee;
}

h1, h2 {
    color: #333;
}

ul {
    padding-left: 20px;
}

form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form h3 {
    margin-top: 0;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
}

form input[type="text"], 
form input[type="number"], 
form input[type="email"], 
form input[type="password"], 
form input[type="date"], 
form input[type="time"] {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #9b2;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.welcomesection{
    padding: 10px;
    background-color: white;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 20px;
    border: 1px solid #EFF0F6;
    box-shadow: rgba(133, 133, 143, 0.2) 0px 1px 29px 0px;
}
.welcomesection h1{
    margin: 10px;
    font-weight: normal;
}
.welcomesection p{
    margin: 10px;
}
/* Section Styles */
.section {
    display: none;
}

.section.active {
    display: block;
    padding: 25px;
}
.section form{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #EFF0F6;
    box-shadow: rgba(133, 133, 143, 0.2) 0px 1px 29px 0px;;
}
.section h2{
    font-size: larger;
    margin: 10px 10px;
    font-weight: 600;
}